<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASK.ME</title>
</head>
<body>
    <h1>Qual seu sistema operacional favorito?</h1>
    <!--exibir valor de uma variável-->
    <%= SO %>
    <%= nome %>

</body>
</html>